#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  margin-bottom: 2em;
}

.chart-select{
  margin-bottom: 2em;
}
.list-group-item{
  cursor: pointer;
  margin-left: 12px;
}

